@import '../_colors.sass';

.aboutUs {
  background-color: rgba(234, 174, 11, 0.1);
}

.team {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  div {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      width: 30%;
      margin: 0 11px;
    }
  }
  ul {
    list-style-type: disc;

    li::marker {
      color: $red;
    }

    a {
      text-decoration: none;
      color: $green;
    }
  }
  h4 {
    color: $red;
    text-transform: uppercase;
    align-self: center;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
}

.fotoTeam {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
  margin-top: 24px;
}
