@import '../_colors.sass';
@import '../_typography.sass';

.tryOut {
  margin: 0 auto;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  &Btn {
    text-decoration: none;
    display: block;
    height: 60px;
    width: 280px;
    border-radius: 26px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: $headings;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 2px solid transparent;
    cursor: pointer;
  }

  &Option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    @media (min-width: 768px) {
      width: 50%;
      margin: 0;
    }
    @media (min-width: 1100px) {
      width: 45%;
    }
  }
}

.marginLeft {
  @media (min-width: 768px) {
    margin-left: 24px;
  }
}

.primary {
  background-color: $red;
  color: $light;
  &:hover {
    background-color: $light;
    color: $red;
    border: 2px solid $red;
  }
}

.secondary {
  background-color: $light;
  color: $red;
  border: 2px solid $red;

  &:hover {
    background-color: $red;
    color: $light;
  }
}
